# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.*.local

# Copyrighted Bible translations — generated locally, not committed
public/data/protestant/niv/
public/data/protestant/nlt/
public/data/protestant/nkjv/
public/data/protestant/nasb/
public/data/catholic/nabre/

# Firebase emulator state and logs
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Staged copy of the copyrighted translations for `npm run publish:texts` (Firebase Hosting)
.texts-hosting/
